%h1= "Faculty #{@faculty.short.upcase}"

= form_for [:admin, @faculty] do |f|
  %p
    = f.label 'Full Name'
    = f.text_field :full, required: true
  %p
    = f.label 'Short Name'
    = f. text_field :short, required: true
  %p
    = f.label 'About'
    = f.cktext_area :about, required: true
  = f.submit

%hr
%h3 Teachers

= link_to 'Add Teacher', new_admin_faculty_teacher_path(@faculty)

- @faculty.teachers.each do |t|
  %p
    = link_to "#{t.name} #{t.surname}", admin_faculty_teacher_path(@faculty, t)

%hr
%h3 Specialities

= link_to 'Add Speciality', new_admin_faculty_speciality_path(@faculty)

- @faculty.specialities.each do |s|
  %p
    = link_to s.short, edit_admin_faculty_speciality_path(@faculty, s)

