%h1 Faculties

= link_to :create, new_admin_faculty_path
%hr
- @faculties.each do |f|
  %p= link_to f.short, edit_admin_faculty_path(f)
  %h4= f.full
  %p= link_to :delete, admin_faculty_path(f), method: :delete
  %hr