%h1 New Faculty

= form_for [:admin, @faculty] do |f|
  %p
    = f.label 'Full Name'
    = f.text_field :full, required: true
  %p
    = f.label 'Short Name'
    = f. text_field :short, required: true
  %p
    = f.label 'About'
    = f.cktext_area :about, required: true
  = f.submit
