= form_for [:teacher, @course, @test, @question] do |f|
  .form-group
    = f.label :topic
    = f.cktext_area :body, required: true
  .form-group
    = f.label 'Points'
    = f.number_field :worth, required: true, :class => 'form-control'
  .form-group
    = f.label :order
    = f.number_field :order, required: true, :class => 'form-control'
    = f.text_field :variety, value: 'Essay', hidden: true
  = f.submit 'Submit', :class => 'btn btn-default'