= form_for [:teacher, @course, @test, @question] do |f|
  .form-group
    = f.label :Inquiry
    = f.cktext_area :body, required: true
  .form-group
    = f.label 'Points'
    = f.number_field :worth, required: true, :class => 'form-control'
  .form-group
    = f.label :order
    = f.number_field :order, required: true, :class => 'form-control'
  .form-group
    = f.label :answer
    = f.text_field :answer, :class => 'form-control'
  .form-group
    = f.label "Distractors; use \"|\"(Pipe) character to separate distractors."
    = f.text_field :distractors, required: true, :class => 'form-control'
    = f.text_field :variety, value: 'MultipleChoice', hidden: true
  = f.submit 'Submit', :class => 'btn btn-default'