- var = @question.variety

.container{:style => 'padding-top: 80px; padding-bottom: 80px;'}
  .row
    .col-md-8.col-md-offset-2
      = form_for [:teacher, @course, @test, @question] do |f|
        .panel.panel-default.panel-question
          .panel-body
            .form-group
              = f.label :Body
              = f.cktext_area :body, required: true
            .form-group
              = f.label 'Points'
              = f.number_field :worth, required: true, :class => 'form-control'
            .form-group
              = f.label :order
              = f.number_field :order, required: true, :class => 'form-control'
            = f.submit 'Submit', :class => 'btn btn-default'