%h1 New Teacher

= form_for [:admin, @faculty, @teacher] do |f|
  %p
    = f.label 'Name'
    = f.text_field :name, required: true
  %p
    = f.label 'Surname'
    = f.text_field :surname, required: true
  %p
    = f.label 'Email'
    = f.text_field :email, required: true
  = f.submit