%h1= "#{@teacher.name} #{@teacher.surname}"
%p= @teacher.email

= link_to 'Delete', admin_faculty_teacher_path(@faculty, @teacher), method: :delete

%h3 Courses

- @teacher.courses.each do |c|
  %p
    = link_to "#{c.short}", edit_admin_faculty_course_path(@faculty, c)