.container{:style => 'padding-top: 80px; padding-bottom: 80px;'}
  .row
    .col-md-8.col-md-offset-2

      = form_for [:student, @course, @test, @attempt] do |f|
        - @test.questions.group_by{|q| q.order}.each_with_index do |pair, i|
          .panel.panel-default.panel-question
            .panel-body
              .question-meta
                - question = pair[1].sample
                = "Q#{i+1}"
                |
                = question.worth
                pts
              .question-title
                = raw question.body
            .panel-footer
              = f.fields_for "#{question.id}" do |ff|
                - if question.variety == 'Essay'
                  = ff.text_area :response, :class => 'form-control', :rows => '5'
                - elsif question.variety == 'MultipleChoice'
                  - question.choices.shuffle.each do |v|
                    %label.radio-inline
                      = ff.radio_button :response, v
                      = v
                - else
                  %label.radio-inline
                    = ff.radio_button :response, 'true'
                    = 'True'
                  %label.radio-inline
                    = ff.radio_button :response, 'false'
                    = 'False'
        = f.submit 'Submit', :class => 'btn btn-default'

