%h1= @group.name.upcase

= form_for [:admin, @faculty, @speciality, @group] do |f|
  %p
    = f.label 'Group Name'
    = f.text_field :name, required: true
  %p
    = f.label 'Year of foundation'
    = f.date_select :founded, discard_day: true, discard_month: true
  %p
    = f.label 'Language'
    = f.select :lang, Group.languages
  = f.submit

= link_to 'Delete', admin_faculty_speciality_group_path(@faculty, @speciality, @group), method: :delete

%hr
%h4 Courses

- @group.courses.each do |c|
  %p
    = link_to "#{c.short}[#{c.teacher.surname}]", edit_admin_faculty_course_path(@faculty, c)