%h1 New Group

= form_for [:admin, @faculty, @speciality, @group] do |f|
  %p
    = f.label 'Group Name'
    = f.text_field :name, required: true
  %p
    = f.label 'Year of foundation'
    = f.date_select :founded, discard_day: true, discard_month: true
  %p
    = f.label 'Language'
    = f.select :lang, Group.languages
  = f.submit