.container
  .row
    .col-md-12
      %h2.text-center.page-header
        = "Courses for #{current_student.group.name}"

    - @courses.each do |c|
      .col-md-6
        .panel.panel-default.panel-course
          .panel-body
            %h3.course-title
              = link_to student_course_path(c) do
                %span
                  = c.short
                %span.test-number
                  = c.tests.size
                  tests

            .course-description
              = raw c.syllabus[0..179]