.banner-info
  .container
    .row
      .col-md-6
        %h3.banner-title
          = @course.full
        .banner-syllabus
          = raw @course.syllabus
        %b.banner-teacher
          = @course.teacher.fullname

.container
  .row
    .col-md-12

      %h3.page-header
        %span Tests
        %span.tests-taken
          = current_student.submitted_attempts(@course)
          \/
          = @course.tests.visible.size
          Taken
    .col-md-7
      - @course.tests.visible.each do |t|
        .panel.panel-default.panel-course
          .panel-body
            %h3.course-title
              - if t.attempts.map{|a| a.student_id}.include?(current_student.id)
                %span.glyphicon.glyphicon-check.test-icon.test-icon-taken
              - else
                %span.glyphicon.glyphicon-check.test-icon

              = link_to student_course_test_path(@course, t) do
                %span
                  = t.name

    .col-md-3.col-md-offset-2
      .list-group
        .list-group-item.disabled
          All Courses:
        - current_student.group.courses.each do |c|
          = link_to c.short, student_course_path(c), :class => 'list-group-item'