.container
  .row
    .col-md-12
      %h2.text-center.page-header
        = "by #{@attempt.student.fullname}"

    .col-md-8.col-md-offset-2
      = form_for [:teacher, @course, @test, @attempt] do |f|
        - @attempt.answers.each do |a|
          .panel.panel-default.panel-question
            .panel-body
              .question-title
                = raw a.question.body
            .panel-footer
              - if a.question.variety == 'Essay'
                = a.response
                = f.fields_for "#{a.id}" do |ff|
                  .form-group
                    = ff.number_field :scored, min: 0, max: a.question.worth, :class => 'form-control'
              - else
                = a.response
        = f.submit 'Grade', :class => 'btn btn-default'
