.container
  .row
    .col-md-12
      %h2.text-center.page-header
        = "All submitted papers for #{@test.name}"

    .col-md-8.col-md-offset-2
      - @attempts.each do |status, attempts|
        .panel.panel-default.panel-course
          .panel-body
            - if status
              %h3.course-title
                %span.glyphicon.glyphicon-check.test-icon.test-icon-taken
                - attempts.sort{|l,r| r.total <=> l.total}.each do |a|
                  = link_to teacher_course_test_attempt_path(@course, @test, a) do
                    %span
                      ="by #{a.student.fullname}[#{a.total} pts] #{(a.total*100.0/@test.max_points).round(2)}%"
            - else
              %h3.course-title
                %span.glyphicon.glyphicon-check.test-icon
                - attempts.each do |a|
                  = link_to edit_teacher_course_test_attempt_path(@course, @test, a) do
                    %span
                      = "Attempt \##{a.id}"
