.container
  .row
    .col-md-12
      %h2.text-center.page-header
        = "by #{@attempt.student.fullname}"

    .col-md-8.col-md-offset-2
      - @attempt.answers.each do |a|
        .panel.panel-default.panel-question
          .panel-body
            .question-meta
              = a.points
              |
              = a.question.worth
              pts
            .question-title
              = raw a.question.body
          .panel-footer
            = a.response
