- attempt = @test.attempts.where(student_id: current_student.id).first

.container
  .row
    .col-md-8
      .bg-white
        - if attempt.checked?
          %h3.page-header
            %span You have already taken this test, your score is
            = "#{attempt.total}pts/#{(attempt.total * 100.0 / @test.max_points).round(2)}%"
            %span.tests-taken
              = attempt.answers.size
              \/
              = attempt.test.questions.map{|q| q.order}.uniq.size
              Answered
          .answers-group
            -attempt.answers.each do |a|
              .answer-list
                %span.answer-points
                  = a.points
                  |
                  = a.question.worth
                  points
                .answer-question
                  = raw a.question.body
                .answer-response
                  = a.response
                %hr 
        - else
          %p
            Waiting for Mentor to check essays