- taken = @test.attempts.map{|a| a.student_id}.include? current_student.id

.banner-info.banner-info-panel
  .container
    .row
      .col-md-8
        .banner-panel.clearfix
          = link_to @course.short, student_course_path(@course), :class => 'banner-course'
          %h3.banner-title
            = @test.name
          .banner-syllabus
            = raw @test.description
          - unless taken
            = link_to 'Take test', new_student_course_test_attempt_path(@course, @test), :class => 'btn btn-default'

- if taken
  = render partial: 'student/tests/taken'
