.banner-info
  .container
    .row
      .col-md-6
        %b.banner-teacher
          = @course.group.name
        %h3.banner-title
          = @course.full
        = form_for [:teacher, @course] do |f|
          .banner-syllabus
            = f.cktext_area :syllabus
          = f.submit 'Submit', :class => 'btn btn-primary'

.container
  .row
    .col-md-12

      %h3.page-header
        %span Tests
        %span.tests-taken
          = link_to 'Assign New', new_teacher_course_test_path(@course)
    .col-md-7
      - @course.tests.each do |t|
        .panel.panel-default.panel-course
          .panel-body
            %h3.course-title
              = link_to edit_teacher_course_test_path(@course, t) do
                %span
                  = t.name

    .col-md-3.col-md-offset-2
      .list-group
        .list-group-item.disabled
          All Courses:
        - current_teacher.courses.each do |c|
          = link_to c.short, edit_teacher_course_path(c), :class => 'list-group-item'
