.container
  .row
    .col-md-12
      %h2.text-center.page-header
        = "#{current_teacher.fullname}'s Courses"

    - @courses.each do |c|
      .col-md-6
        .panel.panel-default.panel-course
          .panel-body
            %h3.course-title
              = link_to edit_teacher_course_path(c) do
                %span
                  = c.short
                %span.test-number
                  = c.tests.size
                  tests
