%h1 New Course

= form_for [:admin, @faculty, @course] do |f|
  %p
    = f.label 'Short Title'
    = f.text_field :short, required: true
  %p
    = f.label 'Full Title'
    = f.text_field :full, required: true
  %p
    = f.label 'Syllabus'
    = f.cktext_area :syllabus, required: true
  %p
    = f.label 'Teacher'
    = f.select :teacher_id, @faculty.teachers.collect{|t| ["#{t.name} #{t.surname}", t.id]}
  %p
    = f.label 'Group'
    = f.select :group_id, @faculty.groups.collect{|g| [g.name, g.id]}
  = f.submit