@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic,latin-ext,cyrillic-ext);

$body-bg: #f6f8f8;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 16px;
$headings-font-weight: 300;
$headings-color: #575a5b;
$link-color: #21abc7;
$link-hover-decoration: none;

$navbar-height: 75px;
$navbar-border-radius: 0;
$navbar-default-bg: #fff;
$navbar-default-border: transparent;
$navbar-margin-bottom: 0;

$panel-border-radius: 8px;
$panel-body-padding: 20px;
$panel-footer-padding: 20px;
$panel-default-border: #fff;
$panel-footer-bg: #f1f2f2;

$list-group-disabled-bg: transparent;

$btn-default-color: #fff;
$btn-default-bg: #21abc7;
$btn-default-border: #21abc7;

$btn-primary-color: #21abc7;
$btn-primary-bg: #fff;
$btn-primary-border: #fff;

$btn-font-weight: 600;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-weight: 300;
}

.panel {
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.list-group {
  font-size: 90%;
  font-weight: 600;
}

.btn {
  padding: 9px 40px;
  border-radius: 100px;
}

label {
  font-weight: 300;
}

.bg-white {
  background: #fff;
  padding: 40px;
}

.page-header {
  padding-bottom: 20px;
  margin: 20px 0 40px 0;
}

#hero {
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-image: asset-url('kartinka.jpg');
  height: 90vh;

  &-title {
    line-height: 1.5em;
    margin-top: 10%;
    text-align: center;
    color: #21abc7
  }
}

.panel-course {
  padding: 0 5px;

  .course-title {
    margin: 0;
    font-size: 150%;
  }

  .course-description {
    font-size: 85%;
    min-height: 40px;
    color: #393d40;
    font-weight: 300;
    margin: 10px 0 0 0;

    p {
      margin-bottom: 0;
    }
  }

  .test-number {
    font-size: 60%;
    color: #aebdc1;
    padding-left: 10px;
  }
}

.panel-question {
  .question-meta {
    font-weight: 600;
    font-size: 90%;
    color: #21abc7;
  }

  .question-title {
    margin: 10px 0 0 0;
    font-size: 130%;
  }
}

.banner-info {
  background: -webkit-linear-gradient(right, #21abc7, #616db3);
  background: linear-gradient(to left, #21abc7,#616db3);
  padding: 80px 0;

  &-panel {
    padding: 40px 0 0 0;
  }

  .banner-title {
    font-size: 250%;
    color: #fff;
    margin: 10px 0 0 0;
  }

  .banner-syllabus {
    font-size: 100%;
    color: #fff;
    margin: 5px 0 20px 0;
  }

  .banner-teacher {
    font-size: 90%;
    border: 1px solid #fff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 3px;
  }

  .banner-panel {
    background: #f6f8f8;
    padding: 80px;
    border-radius: 3px 3px 0 0;

    .banner-course {
      font-weight: 600;
      font-size: 90%;
    }

    .banner-title {
      color: #575a5b;
      font-weight: 600;
    }

    .banner-syllabus {
      color: #575a5b
    }
  }
}

.tests-taken {
  font-size: 50%;
  padding: 4px 10px;
  border-radius: 3px;
  background: #e2e8e9;
  color: #91a5ab;
  margin-left: 10px;
  margin-top: -3px;
  font-weight: 600;
}

.test-icon {
  margin-right: 20px;
  color: #e2e8e8;

  &-taken {
    color: #5dbb6c;
  }
}

.answer-list {
  .answer-points {
    color: #ffae1c;
    font-size: 80%;
  }

  .answer-question {
    font-size: 120%;
  }
}
