!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Teacher | Tester
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Tester
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Courses', teacher_courses_path
        
          - if current_teacher
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  = current_teacher.surname
                  = current_teacher.name
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Sign Out', destroy_teacher_session_path, method: :delete
          -else
            %ul.nav.navbar-nav.navbar-right
              %li
                = link_to 'Log In', new_teacher_session_path
    = yield
