%h1= "New question for #{@test.name}[#{@course.short}]"

= select_tag :select_type, options_for_select(%w(Essay Validity MultipleChoice))

:javascript

  $("#select_type").change(function(){
    var template = $("#select_type").val();
    console.log(template);
    $("#question-form").empty();
    if(template == 'Essay'){
      $("#question-form").append("#{escape_javascript render partial: "teacher/questions/essay", locals: {course: @course, test: @test}}");
    } else if (template == 'Validity'){
      $("#question-form").append("#{escape_javascript render partial: "teacher/questions/validity", locals: {course: @course, test: @test}}");
    } else{
      $("#question-form").append("#{escape_javascript render partial: "teacher/questions/multiple_choice", locals: {course: @course, test: @test}}");
    }    
  });

#question-form
 
