%h1= @course.full

%p= "Taught by #{@course.teacher.fullname}"

%h4 Syllabus
%p= raw @course.syllabus

%h3 Tests

- @course.tests.visible.each do |t|
  %p
    = link_to t.name, student_course_test_path(@course, t)
    - if t.attempts.map{|a| a.student_id}.include?(current_student.id)
      [Taken]