%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :name
    %br/
    = f.text_field :name, required: true
  .field
    = f.label :surname
    %br/
    = f.text_field :surname, required: true
  .field
    = f.label :Group
    %br/
    = f.select :group_id, Group.all.collect{|g| [g.name, g.id]}
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Sign up"
= render "student/shared/links"
