%h1= @speciality.full

= form_for [:admin, @faculty, @speciality] do |f|
  %p
    = f.label 'Full Title'
    = f.text_field :full, required: true
  %p
    = f.label 'Short Title'
    = f.text_field :short, required: true
  %p
    = f.label 'About'
    = f.cktext_area :about, required: true
  = f.submit

= link_to 'Delete', admin_faculty_speciality_path(@faculty, @speciality), method: :delete
%hr
%h4 Groups
= link_to 'Add Group', new_admin_faculty_speciality_group_path(@faculty, @speciality)
- @speciality.groups.each do |g|
  %p
    = link_to "#{g.name}-#{g.founded.year}[#{Group.languages.keys[g.lang][0..1].upcase}]", edit_admin_faculty_speciality_group_path(@faculty, @speciality, g)

%hr
%h3 Courses
- if @faculty.teachers.size > 0
  = link_to 'Add Course', new_admin_faculty_course_path(@faculty)

- @faculty.courses.each do |c|
  %p
    = link_to "#{c.short}[#{c.teacher.surname}][#{c.group.name}]", edit_admin_faculty_course_path(@faculty, c)