%h1 New Speciality

= form_for [:admin, @faculty, @speciality] do |f|
  %p
    = f.label 'Full Title'
    = f.text_field :full, required: true
  %p
    = f.label 'Short Title'
    = f.text_field :short, required: true
  %p
    = f.label 'About'
    = f.cktext_area :about, required: true
  = f.submit