.banner-info.banner-info-panel
  .container
    .row
      .col-md-8
        .banner-panel.clearfix
          %blockquote
            Note: Once set to visible test cannot be modified and questions cannot be altered
          - unless @test.attempts.blank?
            = link_to 'View submitted', teacher_course_test_attempts_path(@course, @test), :class => 'btn btn-default'
          %hr
          = form_for [:teacher, @course, @test] do |f|
            .form-group
              = f.label :name
              = f.text_field :name, :class => 'form-control'
            .form-group
              = f.label :description
              = f.cktext_area :description
            .form-group
              = f.label 'Make Visible'
              = f.check_box :visible
            = f.submit 'Submit', :class => 'btn btn-default'
.container
  .row
    .col-md-8
      .bg-white
        %h3.page-header
          %span Questions
          - unless @test.visible
            %span.tests-taken
              = link_to 'Add question', new_teacher_course_test_question_path(@course, @test)
        .answers-group
          - @test.questions.group_by{|q| q.order}.sort.to_h.each do |order, questions|
            .answer-list
              %span.answer-points
                = "Question \##{order}"
              - questions.each do |q|
                .answer-question
                  = link_to q.body.html_safe, edit_teacher_course_test_question_path(@course, @test, q)
                  - unless @test.visible
                    = link_to :Delete, teacher_course_test_question_path(@course, @test, q), method: :delete
              %hr