.banner-info.banner-info-panel
  .container
    .row
      .col-md-8
        .banner-panel.clearfix
          .banner-course
            = "New Test for #{@course.short}"
          = form_for [:teacher, @course, @test] do |f|
            .form-group
              = f.label :name
              = f.text_field :name, :class => 'form-control'
            .form-group
              = f.label :description
              = f.cktext_area :description
            = f.submit 'Submit', :class => 'btn btn-default'
